*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: linear-gradient(90deg, rgb(100, 199, 239)0%, rgb(201, 243, 156) 50%, rgb(227, 149, 244) 100%)
}

#margin{
    margin-left: 8%;
}
.margin2{
    margin-right: 7%;
}
.card-title{
    border: none;
text-align: center;
}
.card{
max-height: 19vh;
position: relative;
}
.sections{
width: 100%;
height: 100%;
}
.card-body{
    position: absolute;
    top: 0%;
    z-index: -5;
    background-color: white;
    opacity: 0;
    transition: all .5s ease-in-out;
}
#imagecover{
    width: 100%;
height: auto;
top: 0%;
    position: absolute;
   /* background-color: #6f42c1;
    opacity: 0.5;*/
    transition: all .5s ease-in-out;
    display: flex;
    align-items: center;
}

.elementitle{
    position: absolute;
    width: 60%;
    top:15%;
    left: 20%;
    opacity: 0;
    text-align: center;
    transition: all 0.5s ease-in-out;
    color: white;
    font-size: 1.3rem;
}
.buttons{
    width: 100%;
 height: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.edit{
width: 100%;
height: 100%;
    background-size: cover;
   /* background-image: url(imgs/lambo.png);*/
}

.zindex{
    z-index: 2;
    background-color: darkblue;
    color: white;
    position: relative;
    text-align: center;
top: 5%;
    opacity: 0;
    transition: all 0.5s ease-in-out;

}
.card-text{
    font-size: 0.8rem;
}
.projectcard{
width: 23rem;
/*margin-top: 1rem;*/
height: 100vh;
padding: 0;
margin: 0;
position: relative;
}
#businessprojects, #personalprojects{
    width: 60%;
    position: relative;
left: 18%;
top: 2vh;
    display: flex;
    height: 10vh;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

#businessprojects{
    display: none;
}
#selectprojectype{
    display: flex;
    flex-direction: row;
    width: 18%;
    position: relative;
    height: 5vh;
    left: 40%;
    margin-top: 1%;
    justify-content: space-around;
    background-color: black;
}
.selectorcontainer{
    margin-left: 0.1%;
    background-color: black;
    text-align: center;
    width: auto;
    height: 70%;
    position: relative;
    top: 18%;
    z-index: 2;
    border-radius: 0.3rem;
    background: linear-gradient(to left, transparent 50%, #6f42c1 50%);
background-size: 200%;
background-position: right;
transition: background-position 0.5s;
}
.busineselector, .personalselector{
    text-align: center;
    width: 100%;
    white-space: nowrap;
   /* background: linear-gradient(to right, transparent 0%, black 0%);*/
height: 100%;
color: white;
transition: all 0.5s ease-in-out;
}


.selectortext{
width: 100%;
height: 100%;
}
.busineselector:hover, .personalselector:hover{
cursor: pointer;
user-select: none;  
}


.selected{
    background-position: left;
    font-weight: 700;
}

/*
@media screen and (min-height: 650px), screen and (max-height: 760px) {
    #imagecover{
        width: 100%;
        position: absolute;
        background-color: #6f42c1;
        opacity: 0.5;
        transition: all .5s ease-in-out;
        display: flex;
        align-items: center;
    }
}*/
/*
@media screen and (min-height: 900), screen and (max-height: 1000px) {
    #imagecover{
        width: 100%;
        position: absolute;
   background-color: #6f42c1;
        opacity: 0.5;
        transition: all .5s ease-in-out;
        display: flex;
        align-items: center;
    }
}*/

/*
.beingselected{
    width: 100%;
    background-color: black;
height: 100%;
color: white;
    background: linear-gradient(to right, transparent 100%, black 0%);
}*/
/*     background-position: left;
color: black;
font-weight: 700;*/